{% extends 'parent.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="acontainer style">
    <div class="center">
        <h4 class="display-4 text-muted fw-bold cgpa cgpa-header">CGPA</h4>
        <h1 class="display-1 fw-bold cgpa cgpa-value">{{cgpa}}</h1>
    </div>
</div>
<div class="text-center p-5">
    <button type="button" id="download" class="btn btn-outline-primary" style="margin-top: 5rem">
        <i class="fas fa-download    "></i>
        <span class="mx-2">Download </span>
    </button>
</div>
{% endblock %}
{% block script %}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
// Get a reference to the capture button and the DOM element containing CGPA
const captureButton = document.querySelector("#download");
const cgpaContainer = document.querySelector(".acontainer");

// Add a click event listener to the button
captureButton.addEventListener("click", () => {
  // Use HTML2Canvas to capture the content of the CGPA container
  cgpaContainer.classList.remove("style");
  html2canvas(cgpaContainer).then(canvas => {
    // Convert the canvas to a data URL
    const imageDataURL = canvas.toDataURL("image/png");
    // Create an anchor element to download the image
    const downloadLink = document.createElement("a");
    downloadLink.href = imageDataURL;
    downloadLink.download = "cgpa_image.png"; // You can specify the file name
    downloadLink.click();
  });
  cgpaContainer.classList.add("style");
});
</script>
{% endblock %}
{% block style %}
<style>
    .acontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 56px);
    }
    .center{
        position: relative;
    }
    .cgpa-header{
        position: absolute;
        top: -2em;
        left: -2.5em;
        user-select: none;
    }
    .cgpa-value{
        transform: scale(3);
    }
    .style .cgpa{
        background-image: linear-gradient(45deg, black,  black, #7928ca, #ff0080, black, black);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        -webkit-text-fill-color: transparent;
        background-size: 2500%;
        animation: movebg 5s ease-in-out infinite;
    }
    @keyframes movebg {
        0% {
            background-position-x: 0%;
        }
        100% {
            background-position-x: 100%;
        }
    }
</style>
{% endblock %}