{% extends 'parent.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="download style">
    <div class="acontainer">
        <div class="center">
            <h4 class="display-4 text-muted fw-bold cgpa cgpa-header">CGPA</h4>
            <h1 class="display-1 fw-bold cgpa cgpa-value">{{cgpa}}</h1>
        </div>
    </div>
    <div class="details">
        <h2 class="display-5 fw-bold my-4">Details</h2>
        <h3 class=""><span class="fw-bold">Level: </span>{{level.name.capitalize()}}</h3>
        <h3 class="fw-bold">Grades:</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Course Code</td>
                    <td>Course Name</td>
                    <td>Grade</td>
                    <td>Credits</td>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{course.course_code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{user_courses.get(course.course_code, 0).name}}
                        ({{user_courses.get(course.course_code, 0).value}})</td>
                    <td>{{course.course_credits}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 class="fw-bold">Calculation:</h3>
        <pre wrap class="text-center">
            {{calculation_string}}
        </pre>
    </div>
</div>
<div class="text-center">
    <button type="button" id="download" class="btn btn-outline-primary">
        <i class="fas fa-download    "></i>
        <span class="mx-2">Download </span>
    </button>
</div>
{% endblock %}
{% block script %}
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
// Get a reference to the capture button and the DOM element containing CGPA
const captureButton = document.querySelector("#download");
const cgpaContainer = document.querySelector(".download");

// Add a click event listener to the button
captureButton.addEventListener("click", () => {
  // Use HTML2Canvas to capture the content of the CGPA container
  cgpaContainer.classList.remove("style");
  html2canvas(cgpaContainer).then(canvas => {
    // Convert the canvas to a data URL
    const imageDataURL = canvas.toDataURL("image/png");
    // Create an anchor element to download the image
    const downloadLink = document.createElement("a");
    downloadLink.href = imageDataURL;
    downloadLink.download = "cgpa_image.png"; // You can specify the file name
    downloadLink.click();
  });
  cgpaContainer.classList.add("style");
});
</script>
{% endblock %}
{% block style %}
<style>
    .acontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(45vh);
    }
    .download.style .acontainer{
        min-height: calc(100vh - 56px - 38px - 30px);
    }
    .center{
        position: relative;
    }
    .cgpa-header{
        position: absolute;
        top: -2em;
        left: -2.5em;
        user-select: none;
    }
    .cgpa-value{
        transform: scale(3);
    }
    .style .cgpa{
        background-image: linear-gradient(45deg, black,  black, #7928ca, #ff0080, black, black);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        -webkit-text-fill-color: transparent;
        background-size: 2500%;
        animation: movebg 5s ease-in-out infinite;
    }
    @keyframes movebg {
        0% {
            background-position-x: 0%;
        }
        100% {
            background-position-x: 100%;
        }
    }
    .details{
        overflow-x: scroll;
        width: clamp(200px, 75%, 1000px);
        display: grid;
        margin: auto;
    }
    .details .table{
        font-size: clamp(0.5rem, 2.5vw, 1rem);
    }
    .download.style .details{
        display: none;
    }
</style>
{% endblock %}