
        This is an unofficial tool to calculate your CGPA for IITM BS programme students.
        This is created by 
        <a href="https://sayn.work">Sayan Ghosh</a>, 
        and is not affiliated with IITM in any way.
        It is also not affiliated or made by with any other student
        or website.
        The application is updated as of writing this disclaimer to the current curriculum,
        however no guarantee is given that it is free of errors.

        <br><br>

        The source code for this application is available on 
        <a href="https://github.com/sayan01/iitm-cgpa" class="">GitHub</a>.
        Please create an issue if you find any bugs or have any suggestions.