<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-uppercase">About</h4>
                <p>
                    This is a simple application to calculate your CGPA for IITM BS Students.
                    It is made by <a href="https://sayn.work">Sayan Ghosh</a>, and 
                    is not affiliated with IITM in any way. The application is 
                    updated as of writing this disclaimer to the current curriculum,
                    however no guarantee is given that it is free of errors.
                    <br>
                    The source code for this application is available on
                    <a href="https://github.com/sayan01/iitm-cgpa" class="">GitHub</a>.
                    Please create an issue if you find any bugs or have any suggestions.
                </p>
            </div>
            <div class="col-md-2">
                <h4 class="text-uppercase">Links</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{url_for('index')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{url_for('help')}}">Help</a>
                    </li>
                    <li>
                        <a href="{{url_for('level_get')}}">Start</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4 class="text-uppercase">Contact</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://sayn.work">Sayan Ghosh</a>
                    </li>
                    <li>
                        <a href="mailto:me@sayn.work">
                            <i class="fas fa-envelope"></i>
                            Mail
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    .footer{
        background-color: #111;
        color: #ddd;
        padding: 2rem 0;
        text-align: justify;
    }
    .footer a{
        border-bottom: 2px dotted white;
        color: white;
        text-decoration: none;
        transition: all 0.15s ease;
    }
    .footer a:hover{
        border-bottom: 2px solid white;
        padding: 0 0.5rem;
    }
</style>