
{% extends 'parent.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5">
    <h1 class="display-5 fw-bold mb-4">What's this?</h1>
    <p class="fs-4 text-justify">
        This is an unofficial tool to calculate your CGPA for IITM BS programme students.
        This is created by 
        <a href="https://sayn.work">Sayan Ghosh</a>, 
        and is not affiliated with IITM in any way.
        The application is updated as of writing this disclaimer to the current curriculum,
        however no guarantee is given that it is free of errors.

        <br><br>

        The source code for this application is available on 
        <a href="https://github.com/sayan01/iitm-cgpa" class="">GitHub</a>.
        Please create an issue if you find any bugs or have any suggestions.
    </p>
    <hr class="my-5">
    <h1 class="display-5 fw-bold mb-4">How CGPA is Calculated?</h1>
    <p class="fs-4 text-justify">
        CGPA or cumulative grade point average is calculated by taking the 
        weighted average of the grade points obtained in all the courses
        taken by the student. The weightage of each course is the number of
        credits assigned to it. 
    </p>
    <h2 class="display-6 fw-bold my-4">More Details:</h2>
    <p class="fs-4 text-justify">
        For more details please refer to the second page of the
        marks card issued by IITM. The following is the pdf of the same.
    </p>
    <object data="{{url_for('static', filename='pdf/iitm-cgpa-explanation.pdf')}}"
        type="application/pdf" width="50%"
        class="pdf mx-auto d-block"
    ></object>
    <hr class="my-5">
    <h1 class="display-5 fw-bold mb-4">How to Use?</h1>
    <p class="fs-4 text-justify">
        The application is fairly simple to use. You can start by clicking on the
        <a href="{{url_for('level_get')}}">Start</a>
        button on the home page. You will be asked to select your current level.
        After that you will be asked to enter your grades in the courses you have
        completed. You can leave the grade as '-' if you have not completed the course.
        After entering the grades you will be shown your CGPA.
    </p>
    <hr class="my-5">
    <h1 class="display-5 fw-bold mb-4">Data Collection Policy</h1>
    <p class="fs-4 text-justify">
        This application uses cookies to store your session id. This is used to
        identify you as a user and to store your data. The data is stored in the
        server and is not shared with anyone. The data is deleted after 365 days
        of inactivity. You can delete your data by clicking on the 
        <a href="{{url_for('forgetme')}}">Delete Data</a>
        button.
    </p>
    <hr class="my-5">
</div>
{% include 'footer.html' %}
{% endblock %}

{% block script %}

{% endblock %}

{% block style %}

<style>
    .text-justify{
        text-align: justify;
    }
    a{
        text-decoration: none;
        transition: all 0.15s ease;
    }
    a:hover{
        padding: 0 0.5rem;
    }
    .text-justify a {
        --col: #1a4fa0;
        color: var(--col);
        border-bottom: 2px dotted var(--col);
    }
    .text-justify a:hover{
        filter: saturate(10);
        border-bottom: 2px solid var(--col);
    }
    .pdf{
        height: 100svh;
    }
</style>

{% endblock %}