{% extends 'parent.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="wrapper">


<div class="container">
    <h1 class="display-1 fw-bold my-4">Choose your Level</h1>
    <hr>
    <p class="fs-3">
        Which level are you in?
        <span class="text-muted fs-5">(Choose your current level from the dropdown)</span>
    </p>
    <form action="" method="post">
        <span class="text-success fs-3">&gt; </span>
        <span class="fs-3">I am currently in </span>
        <select name="level" id="level" class="level-select form-control d-inline w-auto">
            {% for l in levels %}
                <option value="{{l.value}}" {% if l.value == level.value %}selected{% endif %}>{{l.name.capitalize()}}</option>
            {% endfor %}
        </select>
        <span class="fs-3">Level</span>
        <div class="submit-container my-5 text-center">
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save    "></i>
                <span class="mx-2">Save and Continue </span>
            </button>
        </div>
    </form>
</div>

{% include 'footer.html' %}

</div>
{% endblock %}

{% block script %}

{% endblock %}

{% block style %}
<style>
    .wrapper{
        min-height: calc(100vh - 56px);
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
     h1.display-1 {
        color: transparent;
        display: inline-block;
        background: linear-gradient(-45deg, black, black, black, black, black, black, black, black, black, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, black, black, black, black, black, black, black, black, black);
        background-size: 1200% 1200%;
        background-clip: text;
        -webkit-background-clip: text;
    }
    h1.display-1:hover{
        animation: rainbow 2s linear normal;
        cursor: help;
    }
    @keyframes rainbow {
        0%{background-position:0% 0%}
        50%{background-position:50% 0%}
        100%{background-position:100% 0%}
    }
    #level{
        font-size: 1.5rem;
    }
    .btn{
        border-radius: 100px;
        white-space: nowrap;
        overflow-x: hidden;
        width: 50px;
        height: 50px;
        font-size: 1.25rem;
        transition: all 0.5s ease;
    }
    .btn span{
        transition: all 0.5s ease;
        opacity: 0;
    }
    .btn .fas{
        transition: all 0.75s ease;
        margin-left: 0.25rem;
    }
    .btn:hover{
        width: 225px;
    }
    .btn:hover .fas{
        transform: rotateX(360deg);
    }
    .btn:hover span{
        opacity: 1;
    }
</style>

{% endblock %}
